<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinrotic.rs.user.mapper.ProfileUserMapper">

    <select id="existsReviewUser" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM amazon_reviews_base
            WHERE user_id = #{profileUserId}
            LIMIT 1
        )
    </select>

    <select id="selectRandomReviewUserId" resultType="string">
        SELECT user_id
        FROM amazon_reviews_base
        WHERE user_id IS NOT NULL AND user_id != ''
        GROUP BY user_id
        ORDER BY RAND()
        LIMIT 1
    </select>

</mapper>
